body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: 0px;
}

header {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 17, 52);
  padding: 20px 0px;
}

/* main {} */

/* form {
  color: rgb(255, 255, 255);
} */

form label {
  color: rgb(0, 17, 52);
  font-weight: bold;
}

form input {
  border: 1px solid rgb(255, 87, 29);
  border-radius: 5px;
  padding: 10px;
  margin: 10px;
}

form input:focus {
  outline: none;
}

form button {
  border: 1px solid rgb(255, 87, 29);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 87, 29);
  padding: 10px;
  margin: 10px;
}

form button:hover {
  cursor: pointer;
  border: rgb(0, 17, 52);
  background-color: rgb(0, 17, 52);
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  border: 1px solid rgb(255, 87, 29);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 87, 29);
  padding-inline-start: 0px;
  padding: 20px;
  margin: 20px;
}

main button {
  border: 1px solid rgb(255, 87, 29);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 87, 29);
  padding: 10px;
  margin: 10px;
}

main button:hover {
  cursor: pointer;
  border: rgb(0, 17, 52);
  background-color: rgb(0, 17, 52);
}

li button {
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  color: rgb(0, 17, 52);
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px;
}

li button:hover {
  cursor: pointer;
  border: rgb(0, 17, 52);
  background-color: rgb(0, 17, 52);
  color: rgb(255, 255, 255);
}