body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

header {
  color: rgb(255, 255, 255);
  background-color: rgb(0, 17, 52);
  padding: 20px 0px;
}

main {}

form {
  color: rgb(255, 255, 255);
}

ul {
  list-style-type: none;
  padding-inline-start: 0px;
}

li {
  border: 1px solid rgb(255, 87, 29);
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: rgb(255, 87, 29);
  padding-inline-start: 0px;
  padding: 20px;
  margin-bottom: 20px;
}